# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.vs/
*.VC.db
*.opensdf
*.sdf
*.user
*.userosscache
*.sln.docstates

# Compiled
*.exe
*.dll
*.pdb
*.lib
*.exp
*.obj

# OS
.DS_Store
Thumbs.db
Desktop.ini

# IDE
.idea/
*.swp
*~
